:root {
  --degradado1: #8F7F00;
  --degradado2: #9F8F00;
  --color1: #C19B0F;
  --color2: #E8D33F;
  --color3: #EDFF7A;
  --color4: #D2FF96;
  --color5: #B7F0AD;
  --color6: #EEA;
  --color7: rgb(255, 217, 0);
  --color8: #111;
  --color9: #320;
  --color10: #addbf0;
  --color11: #3b2eeb;
  --color12: #430;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* #352f01 */
  background: linear-gradient(#8F7F00, #8F7F00);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

h1 {
  font-size: 28px;
}

p {
  color: var(--color6);
  font-size: 18px;
}

a {
  color: var(--color6);
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
  display: inline-block;
}

.main {
  /* border: 1px solid red; */
  max-width: 1000px;
  width: 100%;
  height: inherit;
  /* padding: 1.5em; */
  display: block;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  /* border: 1px solid var(--color1); */
  width: inherit;
  height: fit-content;
  color: var(--color9);
  background-color: var(--color1);
  display: flex;
  padding: 2%;
}

.navbar i {
  font-size: 36px;
  margin-right: 1em;
}

.contenedor__signup-login {
  /* border: 1px solid red; */
  width: inherit;
  height: fit-content;
  display: flex;
  justify-content: right;
  padding: 0 2%;
}

.signup__login li {
  margin: 1em 1em 0 1em;
}

.signup__login li a {
  /* border: 1px solid rgb(255, 187, 0); */
  border: none;
  padding: .35em .85em;
  background-color: transparent;
  border-radius: 6px;
  transition: 300ms;
}

.signup__login li a:hover {
  background-color: var(--color1);
  color: var(--color8);
}

.navbar__proyectos {
  /* border: 1px var(--color1); */
  /* border-style: none none solid none; */
  width: inherit;
  height: fit-content;
  font-size: 18px;
  background-color: var(--color9);
  margin-top: 1em;
}

.ul__navbar__proyectos {
  width: inherit;
  height: inherit;
  display: inline-flex;
  justify-content: right;
}

.ul__navbar__proyectos li {
  padding: 1% 8%;
}

.ul__navbar__proyectos a {
  font-weight: 600;
  color: var(--color2);
}

.ul__navbar__proyectos a:hover {
  border-radius: 4px;
  /* text-decoration: underline; */
  color: var(--color9);
  background-color: var(--color1);
  padding: 0 5%;
}

.contenedor__fotoJuan {
  /* border: 1px solid red; */
  width: inherit;
  height: fit-content;
  display: flex;
  justify-content: left;
  padding: 0 1em;
}

.main .imagen__fotoJuan {
  border: 1px solid rgb(64, 48, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url("img/fotoJuan.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.info__Juan {
  width: 75%;
  max-width: 75%;
  min-width: 65%;
  height: 200px;
  font-size: 24px;
  color: var(--color9);
  background-color: transparent;
}

.info__Juan p {
  font-size: 18px;
  color: var(--color4);
  margin: 5% 9%;
}

.contenedor__proyectos {
  /* border: 1px solid red; */
  width: inherit;
  height: fit-content;
  margin-top: 1%;
  margin-bottom: 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  padding: 0 1em;
}

.tarjeta__proyecto {
  /* border: 1px solid green; */
  border-radius: 6px;
  width: 95%;
  height: 200px;
  background-color: var(--color6);
  /* opacity: 0.9; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.tarjeta__proyecto:hover {
  top: -5px;
  left: -5px;
  box-shadow: 7px 7px 5px var(--color8);
}

.contenedor__imagen-tarjeta {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 84%;
  min-height: 84%;
  max-height: 85%;
  /* background: url("img/fotoJuan.jpg"); */
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.contenedor__titulo-tarjeta {
  width: fit-content;
  height: fit-content;
  min-height: 16%;
  font-weight: bolder;
  font-size: 14px;
  padding: 1% 3%;
  /* margin: 50% 0; */
  position: relative;
}

.boton__ver-tarjeta {
  border: none;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  font-weight: bold;
  color: var(--color11);
  background: var(--color10);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  position: absolute;
  opacity: 0.2;
  outline: none;
  padding: 3% 12%;
  align-self: center;
}

.boton__ver-tarjeta:hover {
  transform: scale(1.5, 1.5);
  opacity: 1;
}

.boton__ver-tarjeta:active {
    transform: scale(1.5, 1.5);
    opacity: 1;
}

/* .main .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .main .top .fa {
  font-size: 2em;
  color: white;
  cursor: pointer;
  visibility: hidden;
} */

/* .main .top .links-div {
  z-index: 100;
  width: 300px;
  position: fixed;
  left: -100%;
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(255 255 255 / 70%), rgba(255, 255, 255, 0.6));
  border-top-right-radius: 8px;
  border-bottom-right-radius: 3px;
  backdrop-filter: blur(5px);
  transform: 300ms;
} */

/* .main .top .links-div .link {
  margin-left: 3em;
} */

/* .main .top .links-div .link li {
  display: block;
  margin-top: 1.5em;
} */

/* .main .top .links-div .link li a {
  color: #505050;
  font-weight: bold;
} */

/* .main .top .links-div.active {
  left: 0;
  transform: 800ms;
} */

/* .main .center {
  position: relative;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 8em;
}

.main .center h1 {
  font-weight: bold;
  font-size:clamp(2.5rem, 5vw, 5rem);
  color: white;
}

.main .center input {
  outline: none;
  border: none;
  width: 650px;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1em;
  margin-bottom: 1rem;
  filter: drop-shadow(6px 6px 12px gray);
}

.main .center span {
  position: relative;
  left: -2.9em;
  cursor: pointer;
  padding: .5em;
}

.main ul li {
  margin: .5em .75em;
}

.main ul li a {
  transition: 400ms;
  padding-bottom: .3em;
}

.main ul li a:hover {
  color: white;
  border-bottom: 2px solid white;
} */

.social {
    /* border: 1px solid red; */
  width: inherit;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.lista__redesSociales {
  width: inherit;
  height: 100%;
  font-size: 30px;
  list-style: none;
  background-color: var(--color8);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.social .lista__redesSociales a {
  text-decoration: none;
  color: var(--color7);
}

/* -------------------------------------------------
RESPONSIVE
------------------------------------------------- */
@media (max-width:768px) {

  h1 {
    font-size: 24px;
  }
  
  p {
    color: var(--color6);
    font-size: 12px;
  }

  .navbar i {
    font-size: 30px;
    margin-right: 0.5em;
  }

  .signup__login li {
    margin: 0.2em 0.2em 0.5em 0.2em;
  }

  .navbar__proyectos {
    font-size: 10px;
    margin-top: 0.5em;
  }

  .ul__navbar__proyectos li {
    padding: 1% 8%;
  }

  .contenedor__fotoJuan {
    padding: 0 0.5em;
    display: flex;
  }
  
  .main .imagen__fotoJuan {
    width: 100px;
    height: 100px;
  }
  
  .info__Juan {
    width: 65%;
    max-width: 65%;
    min-width: 65%;
    height: 100px;
    font-size: 12px;
    background-color: transparent;
    margin: 0;
  }
  
  .info__Juan p {
    font-size: 10px;
    text-align: justify;
    margin: 1% 2% 1% 6%;
  }

  .contenedor__proyectos {
    margin-top: 1%;
    margin-bottom: 20%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1%;
    padding: 0 1em;
  }
  
  .tarjeta__proyecto {
    /* border: 1px solid green; */
    width: 95%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .contenedor__titulo-tarjeta {
    font-size: 12px;
  }
  
  .boton__ver-tarjeta {
    font-size: 12px;
  }
}

@media (max-width:583px) {

  
}

@media (max-width: 480px) {

  
}
